{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <div class="message-error">
        {% if error %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
    </div>
    <div class="form-login">
        <div class="row">
            <div class="col-md-12">
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    {% if csrf_token %}
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
                    {% endif %}
                    <div class="form-group">
                        <label for="username">{{ 'security.login.username'|trans }}</label><br>
                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}"
                               required="required"
                               autocomplete="username"/>
                    </div>
                    <div class="form-group">
                        <label for="password">{{ 'security.login.password'|trans }}</label><br>
                        <input class="form-control" type="password" id="password" name="_password" required="required"
                               autocomplete="current-password"/>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <input class="btn btn-primary" type="submit" id="_submit" name="_submit"
                           value="{{ 'security.login.submit'|trans }}"/>
                    <a class="btn btn-primary"
                       href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                </form>
            </div>
        </div>
    </div>
</div>